<div class="row menu-container cursor">
    <div class="col-md-2 ">
        <a>ALLERGIC BOG</a>

    </div>

    <div class="col-md-5 ">
        <a>ABOUT</a>
        <a>RECIPES</a>
        <a>CONTACT</a>
    </div>

    <div class="col-md-2"></div>
    <div class="col-md-3"></div>

</div>